@import "./imports/_normalize.scss";
@import "./imports/_variables.scss";

#root {
  text-align: center;
  margin: auto;
  min-width: 375px;
  max-width: 768px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//app styles - shared with repo react-image-editor
main {
  margin-top: 15px;
}

.container--page-title {
  background-color: $fuchsia-blue;
  color: $white;
  padding: 10px 20px 15px 20px;
  text-align: center;
}

.page-title {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.67;
}

.page-subtitle {
  display: block;
  font-size: 13px;
  line-height: 1.54;
}

.container--avatar {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 195px;
  margin-bottom: 6px;
  background-image: url(../assets/bg-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 133px;
    opacity: 0.3;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 33%, #000000);
  }
}

.avatar {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: -6px;
  transform: translate(-50%, 6px);
  width: 60px;
  height: 60px;
  border: solid 2px $white;
  border-radius: 50%;
}

// listing page
main * {
  box-sizing: border-box;
}

.form--add-img {
  margin: auto;
  margin-bottom: 5px;
  width: 80px;
  height: 80px;
  label {
    display: block;
    width: 100%;
    height: 100%;
    background-color: $pink;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    &:hover,
    &:active {
      border: 5px solid $pink;
      background-color: $white;

      &:before,
      &:after {
        background-color: $pink;
      }
    }

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      cursor: pointer;
      width: 50px;
      height: 5px;
      background-color: $white;
      border-radius: 5px;
    }

    &:before {
      top: 50%;
      left: calc(50% - 25px);
    }

    &:after {
      top: 50%;
      left: calc(50% - 25px);
      transform: rotate(90deg);
    }
  }

  input[type="file"] {
    cursor: pointer;
    opacity: 0;
  }
}

.container--images {
  display: flex;
  flex-wrap: wrap;
}

.container--image {
  .form--add-img {
    width: 100%;
    height: 100%;

    label {
      width: 80px;
      height: 80px;
      top: calc(50% - 40px);
      left: calc(50% - 40px);
    }
  }

  img {
    object-fit: cover;
    vertical-align: bottom;
    border: 3px solid $white;
    border-radius: 5px;
  }
}

.adaptive-view .container--image {
  height: 30vh;
  flex-grow: 1;

  &:first-of-type {
    width: 180px;
  }

  img {
    max-height: 100%;
    min-width: 100%;
  }
}

.container--images.grid-view {
  justify-content: center;
}

.grid-view .container--image {
  width: 180px;
  height: 180px;
  margin-right: 15px;
  margin-bottom: 15px;

  &:nth-of-type(2n) {
    margin-right: 0;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 570px) {
  .grid-view .container--image {
    &:nth-of-type(2n) {
      margin-right: 15px;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}

@media (min-width: 765px) {
  .container--images.grid-view {
    justify-content: flex-start;
  }

  .grid-view .container--image {
    width: 250px;
    height: 250px;
    margin-right: 9px;
    margin-bottom: 9px;

    &:nth-of-type(2n) {
      margin-right: 9px;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}
